<!-- Count is passed to the header component -->
<app-header [counts]="count"></app-header>

<div id="Home" class="bg-dark text-white">
    <h1 class="text-center display-2">My Movie list</h1>
    <hr class="">


    <div id="DcMovies">
        <div class="container my-4">
            <p class="display-6 fw-semibold">DC Movies</p>
        </div>
        <div class="d-flex overflow-auto snone">

            <div *ngFor="let item of DC">
                <!-- I used property binding here because the item img link is in the array inside app.component.ts .
                    (1)     i used click event to call the function which incriment's the count-->
                <app-child-1 [imglink]="item.imgLink_c" [imgname]="item.imgText_c" (click)="AddToList()"></app-child-1>

            </div>
        </div>
    </div>

    <div id="MonsterMovies">
        <div class="container my-4">
            <p class="display-6 fw-semibold">MonsterVerse Movies</p>
        </div>
        <div class="d-flex overflow-auto snone">
            <div *ngFor="let item of MonsterVerse">
                <!-- I used property binding here because the item img link is in the array inside app.component.ts  -->
                <app-child-1 [imglink]="item.imgLink_c" [imgname]="item.imgText_c" (click)="AddToList()"></app-child-1>

            </div>
        </div>
    </div>
</div>
<div class="empty bg-dark"></div>