<!-- this is an example of tw way data binding  -->
<div class="box">
  <div >
    <fieldset class="og">
      <legend><span>Main Box</span></legend>

    <input type="text" [(ngModel)]="name" placeholder="Enter Name">
    <input type="email"  [(ngModel)]="em" placeholder="Enter Email">
    <input type="password" [(ngModel)]="pass" placeholder="Enter Password">
    <br><button (click)="show()" >Sign in</button>
  </fieldset>
  </div>

  <div >
    <fieldset class="copy">
      <legend><span>Copy Box</span></legend>

  Name:&nbsp;
    {{name}} <br>
  
  Email:&nbsp;
    {{em}} <br>
  
  Password:&nbsp;
    {{pass}} <br>
  

</fieldset>
  </div>
</div>