/* body{
    display: flex;
} */
.og,.box2,table{
    background-color: #CAA6A6;
    margin: 20px;
    width: 50%;
    text-align: center;
    /* display: flex; */
    font-size: large;
}

.box2{
    margin: 20px;
}
input{
    font-size: large;
}